<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.sauceDemoEcommerce.utilities.Reporting"/>
	</listeners>
	
  <test thread-count="5" name="Test">
	<parameter name="browser" value="chrome"/> 
    <classes>
      <class name="com.sauceDemoEcommerce.testCases.TC_LoginTest_001"/>
      <class name="com.sauceDemoEcommerce.testCases.TC_LoginDDT_002"/>
      <class name="com.sauceDemoEcommerce.testCases.TC_AddToCart_003"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
